<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOGS</title>
</head>
<body>
    <div class="container">
        <div>
            <h3>Категория</h3>
            <form class="form" method="post" action="/api/create-category">
                <input  value="Введите название категории" name="category_name"></input>
                <button type="submit">Добавить категорию</button>
            </form>
        </div>
        <div>
            <h3>Тэг</h3>
            <form class="form" method="post" action="/api/create-tag">
                <input  value="Введите новый тэг" name="tag_name"></input>
                <button type="submit">Добавить категорию</button>
            </form>
        </div>
        <div>
            <h3>Блог</h3>
            <form class="form" method="post" action="/api/create-blog">
                <input  value="Введите название блога" name="title"></input>
                <textarea  value="Введите контент блога" name="content"></textarea>
                <select size="3" name="category">
                    {{range .CategoriesAdd}}
                        <option value={{.ID}}>{{.Category_name}}</option>
                    {{end}}
                </select>
                <button type="submit">Добавить блог</button>
            </form>
        </div>
        {{ range .Blogs}}
        <h1>Блог #{{.ID}}</h1>
        <div >
                <h4 >{{.Title}}</h4>
                <p>{{.Content}}</p>
                <p>{{.First_name}}</p>
                <p>{{.Category_name}}</p>
                <a href="http://localhost:8080/api/blogs/{{.ID}}">Ссылка</a>
        </div>
        {{end}}
    </div>
</body>
</html>