<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG</title>
</head>
<body>
    <div class="container">
        <h1>Блог #{{.Blog.ID}}</h1>
        <div >
                <h2 >{{.Blog.Title}}</h2>
                <p>{{.Blog.Content}}</p>
                <p>{{.Blog.First_name}}</p>
                <form class="form" method="post" action="/api/create-comment">
                    <textarea  value="Введите комментарий" name="comment"></textarea>
                    <input  value="{{.Blog.ID}}" name="id" type="hidden"></input>
                    <button type="submit">Добавить комментарий</button>
                </form>

                <form class="tag" method="post" action="/api/tag">
                    <p>
                        <select size="3" name="tag">
                            {{range .TagsAdd}}
                                <option value={{.ID}}>{{.Name}}</option>
                            {{end}}
                        </select>
                    </p>
                    <input type="hidden" value="{{.Blog.ID}}" name="blog">
                    <p><input type="submit" value="Отправить"></p>
                </form>

                <div>
                    <h4>Комментарии</h4>
                    {{.Message}}
                    {{range .Comments}}
                    <div>{{.Text}}</div>
                    {{end}}
                </div>

                <div>
                    <h4>Тэги</h4>
                    {{range .Tags}}
                    <div>
                        {{.Name}}
                    </div>
                    {{end}}
                </div>

                <form class="delete" method="post" action="/api/remove-blog/{{.Blog.ID}}">
                    <button type="submit">Удалить блог пост</button>
                </form>
        </div>
        <a href="/api/blogs">Назад к блогам</a> 
    </div>
</body>
</html>
<!-- <script>
    
    const form = document.querySelector('.form');
    const comment = document.getElementById('comment');
    const id = document.getElementById('id');

    // const tag = document.querySelector('.tag');

    form.addEventListener('submit',(e)=>{
        e.preventDefault();
        PostData();          
    });
    async function PostData(){
        let comment_obj = {
            comment_text: comment.value,
            blog_id: parseInt(id.value)
        }
        
        let response = await fetch('/api/create-comment', {
            method: 'POST',
            body: JSON.stringify(comment_obj)
        })
    }


    // tag.addEventListener('submit',(e)=>{
    //     e.preventDefault();
    //     PostDataTag();          
    // });
    // async function PostDataTag(){
    //     let comment_obj = {
    //         comment_text: comment.value,
    //         blog_id: parseInt(id.value)
    //     }
        
    //     let response = await fetch('/api/create-comment', {
    //         method: 'POST',
    //         body: JSON.stringify(comment_obj)
    //     })
    // }
</script> -->