<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG</title>
</head>
<body>
    <div class="container">
        {{$blog := .Blog.ID}}
        <h1>Блог #{{$blog}}</h1>
        <div >
                <h2 >{{.Blog.Title}}</h2>
                <p>{{.Blog.Content}}</p>
                <p>{{.Blog.First_name}}</p>
                <form class="form" method="post" action="/api/create-comment">
                    <textarea  value="Введите комментарий" name="comment"></textarea>
                    <input  value="{{$blog}}" name="id" type="hidden"></input>
                    <button type="submit">Добавить комментарий</button>
                </form>

                <form class="tag" method="post" action="/api/tag">
                    <p>
                        <select size="3" name="tag" multiple>
                            {{range .TagsAdd}}
                                <option value={{.ID}}>{{.Name}}</option>
                            {{end}}
                        </select>
                    </p>
                    <input type="hidden" value="{{$blog}}" name="blog">
                    <p><input type="submit" value="Отправить"></p>
                </form>

                <div>
                    <h4>Комментарии</h4>
                    {{.Message}}
                    {{range .Comments}}
                    <div>{{.Text}}</div>
                    {{end}}
                </div>

                <div>
                    <h4>Тэги</h4>
                    {{range .Tags}}
                    <div>
                        {{.Name}}
                        <form class="form" method="post" action="/api/remove-tag">
                            <input  value="{{.ID}}" name="tag" type="hidden"></input>
                            <input  value="{{$blog}}" name="id" type="hidden"></input>
                            <button type="submit">X</button>
                        </form>
                    </div>
                    {{end}}
                </div>

                <form class="delete" method="post" action="/api/remove-blog/{{$blog}}">
                    <button type="submit">Удалить блог пост</button>
                </form>
        </div>
        <a href="/api/blogs">Назад к блогам</a> 
    </div>
</body>
</html>
