<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
</head>
<body>
    <div class="container">
        <h1>Блог #{{.ID}}</h1>

        <div >
                <h2 >{{.Title}}</h2>
                <p>{{.Text}}</p>
                <form class="form" action="/" method="POST">
                    <textarea  value="Введите комментарий"></textarea>
                    <button type="submit">Добавить комментарий</button>
                </form>
                <div>
                    {{ range .comments}}
                    <div>
                        <p>{{.User.First_name}}</p>
                        <p>{{.User.ID}}</p>
                    </div>
                    {{end}}
                </div>
        </div>
    </div>
</body>
</html>